@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #2e2a3a, #5d4d6d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #eee;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #000;
    text-shadow: 2px 2px 0 #FFB800, -2px -2px 0 #FFB800, 2px -2px 0 #FFB800, -2px 2px 0 #FFB800;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
    background: linear-gradient(135deg, #574e76, #2d3142);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pokemon {
    background-color: #3c4059;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 250px;
}

.pokemon:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.pokemon:hover .img-container {
    transform: scale(1.1);
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

/* tarjeta expandida */

.pokemon.expanded {
    width: 300px;
    height: auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease;
}

.pokemon .info {
    margin-top: 20px;
    overflow: hidden;
}

.pokemon.expanded .info {
    height: auto;
}

.pokemon.expanded .expand-btn {
    display: none;
}

.pokemon .extra-info {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.pokemon.expanded .extra-info {
    display: block;
}


.pokemon .number {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.2rem;
}
